<div class="container" id="projects">
        
            <div *ngFor="let project of projects">
                <div class="card project-item">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8 col-sm-12">
                                <h3 class="card-title" >{{project.name}}  <small class="text-muted">{{project.role}}</small></h3>
                                <hr/>
                                <p>{{project.description}}</p>
                                <span class="tags"><b>Technologies: </b> {{project.technologies}}</span>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                    <span class="card-img-top d-flex justify-content-center"><img class="rounded" src="img/{{project.imgs}}" alt="Card image cap"></span>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>             
                       
    </div>