<div class="container-fluid main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">                 
      <a class="navbar-brand" routerLink="/">Johanna Del Pino<span class="brand-slogan text-muted">Full Stack Developer</span></a>
      <button id="navbarToggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>                
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
              </li>              
              <li class="nav-item">
                  <a class="nav-link" href="https://github.com/johannadelpino?tab=repositories" target="_blank">GitHub</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://www.linkedin.com/in/johanna-del-pino-55561265/" target="_blank">LinkedIn</a>
              </li>
          </ul>
      </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
  <br>
  <div id="contact">
      <h4>Contact</h4>
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-sm-12">
                  <a href="mailto:johanna.delpino@gmail.com"><img class="entypo-icon" src="entypo/email.svg" alt="full stack developer email"/> johanna.delpino@gmail.com</a>
              </div>
              <div class="col-lg-4 col-sm-12">
                  <a href="https://www.linkedin.com/in/johanna-del-pino-55561265/" target="_blank"><img class="entypo-icon" src="entypo/linkedin-with-circle.svg" alt="full stack developer linkedin"/>LinkedIn</a>
              </div>
              <div class="col-lg-4 col-sm-12">
                  <a href="https://github.com/johannadelpino?tab=repositories" target="_blank"><img class="entypo-icon" src="entypo/github-with-circle.svg" alt="full stack developer github">GitHub</a>
              </div>
          </div>
      </div>                      
  </div> 
</div>
<footer class="text-center">
        <small>Created by Johanna Del Pino 2017.</small>
</footer>

